<h1>{{ 'TITLE_PAGE_COURIERS_REPORT' | translate }}</h1>
<div class="table-responsive">
    <div class="well">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group center-block">
                    <h5>From:</h5>
                    <div style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="exportDateFrom" class="well well-sm"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group center-block">
                    <h5>To:</h5>
                    <div style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="exportDateTo" class="well well-sm"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group center-block">
                    <a target="_blank" href='/admin/reports/couriers/export/?exportDateFrom={{ exportDateFrom | date:"dd-MM-yyyy"}}&exportDateTo={{ exportDateTo | date:"dd-MM-yyyy"}} ' class="btn btn-success float-lg-right">{{ exportDateFrom | date:"dd-MM-yyyy"}} - {{ exportDateTo | date:"dd-MM-yyyy"}}  Export</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'LABEL_JID' | translate }}</th>
            <th>{{ 'LABEL_ACCOUNT_TYPE' | translate }}</th>
            <th>{{ 'LABEL_COMPLETED' | translate }}</th>
            <th>{{ 'LABEL_ACCEPTANCE_RATE' | translate }}</th>
            <th>{{ 'LABEL_AVERAGE_RATE' | translate }}</th>
            <th>{{ 'LABEL_HOURS_ONLINE' | translate }}</th>
            <th>{{ 'LABEL_NUMBER_CANCELED' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="item in items|itemsPerPage:itemsPerPage" total-items="total_count" current-page="pageno">
            <td>{{ item.jabroolid }}</td>
            <td>{{ item.account_type }}</td>
            <td>{{ item.completed }}</td>
            <td>{{ item.acceptance }}</td>
            <td>{{ item.average }}</td>
            <td>{{ item.online }}</td>
            <td>{{ item.canceled }}</td>
        </tr>
        </tbody>
    </table>

    <dir-pagination-controls
            max-size="8"
            direction-links="true"
            boundary-links="true"
            on-page-change="getData(newPageNumber)" >
    </dir-pagination-controls>
</div>