<h1>CouriorVsCusotmer clusters</h1>
<div class="table-responsive">
    <div class="well">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group center-block">
                    <h5>From:</h5>
                    <div style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="exportDateFrom" class="well well-sm"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group center-block">
                    <h5>To:</h5>
                    <div style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="exportDateTo" class="well well-sm"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group center-block">
                    <a target="_blank" href='/admin/reports/orders/export/?exportDateFrom={{ exportDateFrom | date:"dd-MM-yyyy"}}&exportDateTo={{ exportDateTo | date:"dd-MM-yyyy"}} ' class="btn btn-success float-lg-right">{{ exportDateFrom | date:"dd-MM-yyyy"}} - {{ exportDateTo | date:"dd-MM-yyyy"}}  Export</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Locations where no couriors avalabile for requests</th>
            <th>Number of times no Couriors around at this location</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="item in items|itemsPerPage:itemsPerPage" total-items="total_count" current-page="pageno">
            <td>{{ item.address }} <a href="{{ item.map }}" target="_blank">map</a> </td>
            <td>{{ item.count }}</td>
            <td>{{ item.date | date: "dd/MM/yyyy hh:mm" }}</td>
        </tr>
        </tbody>
    </table>

    <dir-pagination-controls
            max-size="8"
            direction-links="true"
            boundary-links="true"
            on-page-change="getData(newPageNumber)" >
    </dir-pagination-controls>
</div>