<h1>Hours report</h1>
<div class="table-responsive">
    <div class="well">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group center-block">
                    <h5>From:</h5>
                    <div style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="exportDateFrom" class="well well-sm"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group center-block">
                    <h5>To:</h5>
                    <div style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="exportDateTo" class="well well-sm"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group center-block">
                    <a target="_blank" href='/admin/reports/hours/export/?exportDateFrom={{ exportDateFrom | date:"dd-MM-yyyy"}}&exportDateTo={{ exportDateTo | date:"dd-MM-yyyy"}} ' class="btn btn-success float-lg-right">{{ exportDateFrom | date:"dd-MM-yyyy"}} - {{ exportDateTo | date:"dd-MM-yyyy"}}  Export</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Hour</th>
            <th>Number of times Jabrool app was opened</th>
            <th>Number of completed trips</th>
            <th>Number of unoccupied Couriors</th>
            <th>Number of missed bookings (no car was available)</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="item in items|itemsPerPage:itemsPerPage" total-items="total_count" current-page="pageno">
            <td>{{ item.date | date: "MMM d" }}</td>
            <td>{{ item.date | date: "HH" }}</td>
            <td>{{ item.opened }}</td>
            <td>{{ item.completed }}</td>
            <td>{{ item.unoccupied }}</td>
            <td>{{ item.missed }}</td>
        </tr>
        </tbody>
    </table>

    <dir-pagination-controls
            max-size="8"
            direction-links="true"
            boundary-links="true"
            on-page-change="getData(newPageNumber)" >
    </dir-pagination-controls>
</div>