<h1>Hours report</h1>
<div class="table-responsive">
    <div class="well">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group center-block">
                    <h5>From:</h5>
                    <div style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="exportDateFrom" class="well well-sm"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group center-block">
                    <h5>To:</h5>
                    <div style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="exportDateTo" class="well well-sm"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group center-block">
                    <a target="_blank" href='/admin/reports/orders/export/?exportDateFrom={{ exportDateFrom | date:"dd-MM-yyyy"}}&exportDateTo={{ exportDateTo | date:"dd-MM-yyyy"}} ' class="btn btn-success float-lg-right">{{ exportDateFrom | date:"dd-MM-yyyy"}} - {{ exportDateTo | date:"dd-MM-yyyy"}}  Export</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Trip ID</th>
            <th>Trip date and time</th>
            <th>City</th>
            <th>Delivery type</th>
            <th>Courior ID</th>
            <th>Total trip duration (mins)</th>
            <th>Distance travelled (km)</th>
            <th>Courior wait time for customer at pickup (mins)</th>
            <th>Trip price (SAR)</th>
            <th>Courior earnings (SAR)</th>
            <th>Payment method</th>
            <th>Jabrool ernings</th>
            <th>round down</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="item in items|itemsPerPage:itemsPerPage" total-items="total_count" current-page="pageno">
            <td>{{ item.tripID }}</td>
            <td>{{ item.date | date: "HH" }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.deliveryType }}</td>
            <td>{{ item.courierJID }}</td>
            <td>{{ item.tripDuration }}</td>
            <td>{{ item.tripDistance }}</td>
            <td>{{ item.tripWaitTime }}</td>
            <td>{{ item.tripPrice }}</td>
            <td>{{ item.courierEarnings }}</td>
            <td>{{ item.paymentMethod }}</td>
            <td>{{ item.jabroolEarnings }}</td>
            <td>{{ item.roundDown }}</td>
        </tr>
        </tbody>
    </table>

    <dir-pagination-controls
            max-size="8"
            direction-links="true"
            boundary-links="true"
            on-page-change="getData(newPageNumber)" >
    </dir-pagination-controls>
</div>