<div class="box">
    <div class="box-body">
        <div class="system-log-view">

            <p><a class="btn btn-primary" href="#!/logs/api">Back</a></p>

            <table class="table table-striped table-bordered detail-view">
                <tbody>

                <tr>
                    <th>method</th>
                    <td>{{ model.method }}</td>
                </tr>

                <tr>
                    <th>params</th>
                    <td>{{ model.params }}</td>
                </tr>

                <tr>
                    <th>body</th>
                    <td>{{ model.body }}</td>
                </tr>

                <tr>
                    <th>headers</th>
                    <td>{{ model.headers }}</td>
                </tr>

                <tr>
                    <th>headers</th>
                    <td>{{ model.headers }}</td>
                </tr>

                <tr>
                    <th>url</th>
                    <td>{{ model.url }}</td>
                </tr>

                <tr>
                    <th>query</th>
                    <td>{{ model.query }}</td>
                </tr>

                <tr>
                    <th>rawHeaders</th>
                    <td>{{ model.rawHeaders }}</td>
                </tr>

                <tr>
                    <th>path</th>
                    <td>{{ model.path }}</td>
                </tr>

                <tr>
                    <th>status</th>
                    <td>{{ model.status }}</td>
                </tr>

                <tr>
                    <th>response</th>
                    <td>{{ model.response }}</td>
                </tr>

                <tr>
                    <th>created_at</th>
                    <td>{{ model.created_at | date : "dd/MM/yyyy hh:mm" }}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>