<h1>Sms logs</h1>
<div class="table-responsive">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group input-group-sm">
                <input type="text" name="search" class="form-control" ng-model="search" >
                <span class="input-group-btn">
                  <button class="btn btn-info btn-flat" type="button" ng-click="cancelSearch()">X</button>
                </span>
            </div>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-danger float-lg-right">Delete all</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-click="sort('phone')">Phone</th>
            <th ng-click="sort('text')">Text</th>
            <th ng-click="sort('mid')">Id</th>
            <th ng-click="sort('created_at')">Created at</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="item in items|itemsPerPage:itemsPerPage" total-items="total_count" current-page="pageno">
            <td>{{ item.phone }}</td>
            <td>{{ item.text }}</td>
            <td>{{ item.mid }}</td>
            <td>{{ item.created_at | date : "dd/MM/yyyy hh:mm" }}</td>
            <td>
                <a href="#!/logs/sms/{{ item._id }}" class="btn btn-light">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <button type="button" ng-click="delete(item._id)" class="btn btn-light">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <dir-pagination-controls
            max-size="8"
            direction-links="true"
            boundary-links="true"
            on-page-change="getData(newPageNumber)" >
    </dir-pagination-controls>
</div>