<div class="box">
    <div class="box-body">
        <div class="system-log-view">

            <p><a class="btn btn-primary" href="#!/logs/sms">Back</a></p>

            <table class="table table-striped table-bordered detail-view">
                <tbody>

                <tr>
                    <th>phone</th>
                    <td>{{ model.phone }}</td>
                </tr>

                <tr>
                    <th>text</th>
                    <td>{{ model.text }}</td>
                </tr>

                <tr>
                    <th>mid</th>
                    <td>{{ model.mid }}</td>
                </tr>

                <tr>
                    <th>created_at</th>
                    <td>{{ model.created_at | date : "dd/MM/yyyy hh:mm" }}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>