<!DOCTYPE html>
<html lang="en">
<%- include('layouts/public/header'); %>
<body>

<header>
    <%- include('layouts/public/topMenu'); %>
</header>
<main>

    <div class="container">
        <div class="section-tabs">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#tab1">About Us</a></li>
                        <li class="tab col s3"><a href="#tab2">Contact Us</a></li>
                        <li class="tab col s3"><a href="#tab3">Terms &amp; Conditions</a></li>
                        <li class="tab col s3"><a href="#tab4">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- aboutus block -->

    <div id="tab1" class="col s12">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l6 xl6  imageblock">
                    <img src="/site/img/aboutus.jpg" alt="about us">
                </div>
                <div class="col s12 m12 l6 xl6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                        veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                        ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                        incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- contactus block -->

    <div id="tab2" class="col s12">

        <div class="contactus-map">
            <div class="container">
                <div class="section">
                    <div class="row">
                        <div class="col s12 m10 offset-m1 l5 offset-l7 center">
                            <div class="officeaddress">

                                <p><i class="material-icons green-text">place</i>188 Sheikh Khalifah Bin Zayed Rd,
                                    Dubai, United Arab Emirates</p>
                                <p><i class="material-icons green-text">call</i>+971 4 395 5722</p>
                                <p><i class="material-icons green-text">email</i>support@jabrool.com</p>

                                <img src="/site/img/office.jpg" alt="office">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="darkbackground">
            <div class="container">
                <div class="section">
                    <div class="row">
                        <div class="col s12"><h2 class="header center my-blue-text">Have a questions?</h2></div>
                    </div>
                    <div class="row" id="contact_us">

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- terms block -->
    <div id="tab3" class="col s12">
        <div class="container">
            <div class="row">
                <div class="col xl-8 offset-xl2 l8 offset-l2 m12 s12 ">
                    <h5>Terms and Conditions - Courier</h5>
                    <%- terms_courier %>
                    <h5>Terms and Conditions - Customer</h5>
                    <%- terms_customer %>
                </div>
            </div>
        </div>
    </div>
    <!-- privacy block -->
    <div id="tab4" class="col s12">
        <div class="container">
            <div class="row">
                <div class="col xl-8 offset-xl2 l8 offset-l2 m12 s12 ">
                    <h5>Privacy Policy</h5>
                    <%- privacy %>
                </div>
            </div>
        </div>
    </div>

</main>

<%- include('layouts/public/footer'); %>

<%- include('layouts/public/modalLogin'); %>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/site/js/materialize.js"></script>
<script src="/site/js/init.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>
<script src="/dist_site/site_home_bundle.js"></script>

</body>
</html>
