<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Jabrool</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <style type="text/css">
        html  {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
        }
        body {
            display: block;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            position: relative;
            font-family: 'Lato', sans-serif;
            text-align: center;
            color: #383838;
            background-image: url('/tmp/rp/2963.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

        }

        .logoblock {
            background-color: #ffffff;
            max-width: 800px;
            min-width: 400px;
            margin-right: auto;
            margin-left: auto;
            padding: 0px;
            border: solid 1px #d6d6d6;
            -webkit-box-shadow: 10px 10px 8px -10px rgba(0,0,0,0.33);
            -moz-box-shadow: 10px 10px 8px -10px rgba(0,0,0,0.33);
            box-shadow: 10px 10px 8px -10px rgba(0,0,0,0.33);
            top: 50%;
            left: 0;
            display: block;
            position: relative;
            margin-top: -168px
        }

        img {
            margin: 40px 0 30px 0;;
        }
        h2 {
            margin-bottom: 80px;
            font-size: 1.5rem;
            color: #777575;
            font-weight: 100;
        }
        h1 {
            border-bottom: solid 1px #eaeaea;
            width: 60%;
            text-align: center;
            margin: 20px auto;
            padding: 20px;
        }
    </style>

</head>
<body>

<div class="logoblock">
    <div style="background-color: #eaeaea;"><img src="/tmp/rp/logo.png" alt="Jabrool"></div>

    <% if(!error) { %>
    <h1>Congratulation!</h1>
    <h2>You successfully registered in Jabrool</h2>
    <% } else { %>
    <h1>Error!</h1>
    <h2>....</h2>
    <% } %>

</div>

</body>
</html>
