<!DOCTYPE html>
<html lang="en">
<%- include('layouts/public/header'); %>
<body>

<header>
    <%- include('layouts/public/topMenu'); %>
</header>

<main>
    <div class="container mywhitesection">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s6">
                    <h2 class="header center my-blue-text">Courier</h2>
                </div>
                <div class="col s6">
                    <h2 class="header center my-blue-text">Customer</h2>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
                <div class="col s6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>

            <div class="row screenshots">
                <div class="col s3 center">
                    <img src="/site/img/courier1.jpg" alt="courier app screenshot" >
                </div>
                <div class="col s3 center">
                    <img src="/site/img/courier2.jpg" alt="courier app screenshot" >
                </div>
                <div class="col s3 center">
                    <img src="/site/img/customer1.jpg" alt="customer app screenshot" >
                </div>
                <div class="col s3 center">
                    <img src="/site/img/customer2.jpg" alt="customer app screenshot" >
                </div>
            </div>

            <div class="row screenshots">
                <div class="col l2 xl2 s3">
                    <img src="/site/img/appstore.png" alt="Download on the Appstore" >
                </div>
                <div class="col l2 xl2 s3">
                    <img src="/site/img/gplay.png" alt="Android App on Google Play" >
                </div>
                <div class="col l2 offset-l2 xl2 offset-xl2 s3">
                    <img src="/site/img/appstore.png" alt="Download on the Appstore" >
                </div>
                <div class="col l2 xl2 s3">
                    <img src="/site/img/gplay.png" alt="Android App on Google Play" >
                </div>
            </div>
        </div> <!--end section-->
    </div> <!--end container-->

</main>


<%- include('layouts/public/footer'); %>

<%- include('layouts/public/modalLogin'); %>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/site/js/materialize.js"></script>
<script src="/site/js/init.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>
<script src="/dist_site/site_login_bundle.js"></script>

</body>
</html>
