<!DOCTYPE html>
<html lang="en">
<%- include('layouts/public/header'); %>
<body>

<%- include('layouts/public/topMenu'); %>

<div id="index-banner" class="parallax-container parallax-form" >

    <div class="section">
        <div class="container" id="order_form">

        </div> <!-- end section -->
    </div><!-- end container -->
    <div class="parallax"><img src="/site/img/222.jpeg" alt="JABROOL"></div>
</div>


<div class="container mywhitesection">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">  	<h2 class="header center my-blue-text">Our Features</h2></div>
        </div>
        <div class="row">
            <div class="col s12 m12 l8 xl8 offset-xl2 offset-l2"><p class="myparagraph center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p></div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <p class="bigicons material-icons">all_inclusive</p>
                    <h5 class="center my-darkgrey-text">Simplicity</h5>

                    <p class="myparagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <p class="bigicons material-icons">cloud_queue</p>
                    <h5 class="center my-darkgrey-text">Convenience</h5>

                    <p class="myparagraph">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <p class="bigicons material-icons">device_hub</p>
                    <h5 class="center my-darkgrey-text">Reliability</h5>

                    <p class="myparagraph">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                </div>
            </div>
        </div>

    </div> <!--end section-->
</div> <!--end container-->


<div class="grayimgbg">
    <div class="container">
        <div class="section">
            <div class="row center">
                <h2 class="header center my-blue-text">Become a Partner</h2>
            </div>
            <div class="row">
                <div class="col s12 m12 l8 xl8 offset-xl2 offset-l2"><p class="myparagraph center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p></div>
            </div>
            <div class="row center">
                <div class="col s12"><a href="#" class="btn waves-effect waves-light teal lighten-1 ">Create a Business Account</a></div>
            </div>
        </div> <!-- end section  -->
    </div> <!-- end container  -->
</div> <!-- end greyimgbg -->

<!-- contact us -->
<div class="darkbackground">
    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12">  	<h2 class="header center my-blue-text">Have a questions?</h2></div>
            </div>
            <div class="row" id="contact_us">

            </div>

        </div> <!--end section-->
    </div> <!--end container-->
</div>

<%- include('layouts/public/footer'); %>

<%- include('layouts/public/modalLogin'); %>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/site/js/materialize.js"></script>
<script src="/site/js/init.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>
<script src="/dist_site/site_home_bundle.js"></script>

</body>
</html>
