<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/public/header'); %>
<body>

<header>
    <%- include('layouts/public/topMenu'); %>
</header>

<main>
    <div class="container mywhitesection">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12">
                    <h2 class="header center my-blue-text">Pricing Plans goes here</h2>
                </div>
            </div>

        </div> <!--end section-->
    </div> <!--end container-->

</main>

<%- include('layouts/public/footer'); %>

<%- include('layouts/public/modalLogin'); %>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/site/js/materialize.js"></script>
<script src="/site/js/init.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>
<script src="/dist_site/site_login_bundle.js"></script>

</body>
</html>
