<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Jabrool</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="/tmp/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/tmp/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img src="/tmp/img/logo.png" alt="Jabrool" width="142"
                                                                height="32"></a>

        <ul class="right hide-on-med-and-down">
            <li> <a href="/privacy_policy_ar">Ar</a></li>
        </ul>

    </div>
</nav>

<div id="index-banner" class="parallax-container parallax-form" style="min-height: 600px;">

    <div class="section">
    </div><!-- end container -->
    <div class="parallax"><img src="/tmp/img/background1.jpg" alt="JABROOL"></div>
</div>

<div class="container mywhitesection">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12"></div>
        </div>
        <div class="row">

        </div>
        <div class="row">

            <div class="container">
                <div class="text-center">
                    <h1 class="text-center" style="text-align: center">Privacy policy</h1>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col s12">
                            <%- privacy %>
                        </div>
                    </div>
                </div><!-- end row -->
            </div> <!-- end section -->

        </div> <!--end section-->
    </div> <!--end container-->
</div>

    <!-- footer -->
    <footer class="page-footer white">
        <div class="container ">
            <div class="row">

                <div class="col l2 xl2 m2 s12  footersettings">

                </div>

                <div class="col l5 xl5 m9 offset-m1 s12  footersettings  valign-wrapper">

                </div>

                <div class="col l4 xl4 m10 s12 footersettings bottomlogo">

                </div>

                <div class="col l1 zl1 m2  s12  footersettings">

                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">

                    <div class="col l2 xl2 m2 s12  footersettings">
                        <img src="/tmp/img/footer-logo.png">
                    </div>

                    <div class="col l5 xl5 m9 offset-m1 s12  footersettings  valign-wrapper">

                    </div>

                    <div class="col l4 xl4 m10 s12 footersettings bottomlogo">
                        <a href="http://jabrool.com">&copy; Jabrool 2017. All rights reserved.</a>
                    </div>

                    <div class="col l1 zl1 m2  s12  footersettings">

                    </div>

                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript">
        $(document).ready(function () {
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
    </script>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/tmp/js/materialize.js"></script>
    <script src="/tmp/js/init.js"></script>

</body>
</html>
