<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Jabrool</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="/tmp/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/tmp/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="/tmp/countdown/css/flipclock.css">

    <script type="text/javascript" src="/tmp/js/jquery.js"></script>
    <script type="text/javascript" src="/tmp/js/materialize.old.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/tmp/countdown/js/flipclock.js"></script>

    <script src="/tmp/js/materialize.js"></script>
    <script src="/tmp/js/init.js"></script>
</head>
<body>

<header>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo center"><img src="/tmp/img/logo.png" alt="Jabrool" width="142" height="32"></a>
        </div>
    </nav>
</header>

<main>

    <div id="index-banner" class="parallax-container" >

        <div class="section">
            <div class="container ">
                <div class="row center ">
                    <h4 class="placeholder">&nbsp;</h4>
                    <h1 class="coundtown-blue"> We are comming soon!</h1>
                    <div class="clock"></div>


                    <h5  class="coundtown-black ">We are currently creating something awesome!</h5>
                </div><!-- end row -->

            </div> <!-- end section -->
        </div><!-- end container -->
        <div class="parallax"><img src="/tmp/img/background2.jpg" alt="JABROOL"></div>
    </div>






    <!-- contact us -->
    <div class="darkbackground">
        <div class="container">
            <div class="section">

                <div class="row">
                    <div class="col s12">  	<h2 class="header center my-blue-text">Want to know when we launch?</h2></div>
                </div>
                <div class="row">
                    <form class="col s12 ">
                        <div class="row ">
                            <div class="input-field col s12 m12 l5 xl5">
                                <input id="your_name" type="text" class="validate">
                                <label for="your_name">Your Name</label>
                            </div>
                            <div class="input-field col s12 m12 l4 xl4">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                            <div class="col s12 m12 l3 xl3 button-w">
                                <button type="button" id="sbm" class="btn waves-effect waves-light teal lighten-1 standartmargin">NOTIFY ME</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div> <!--end section-->
        </div> <!--end container-->
    </div>

    <div class="container mywhitesection">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h2>Do not want to wait?</h2>
                    <h5> Our apps are available in stores:</h5>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <h2 class="coundtown-blue">Courier</h2>
                    <p>Jabrool Courier app provides you with 24/7 delivery clients in need of your delivery service. It will provide you with appropriate requests that can fit safely in your vehicle. You can earn money making deliveries anytime you make yourself available with Jabrool Courier. Apply and join Jabrool Courier to increase your income with our very convenient application.</p>
                    <h5>Jabrool Courier properties:</h5>
                    <ul>
                        <li><i class="material-icons f-list">check</i>  fast response to customers.</li>
                        <li><i class="material-icons f-list">check</i>  budget and express options.</li>
                        <li><i class="material-icons f-list">check</i>  ability to accept multiple orders in same time.</li>
                        <li><i class="material-icons f-list">check</i>  easy vehicle registry, accepting wide range of vehicles.</li>
                        <li><i class="material-icons f-list">check</i>  easy shipment size allocation to fit your vehicle.</li>
                        <li><i class="material-icons f-list">check</i>  easy cash or credit card payment methods.</li>
                        <li><i class="material-icons f-list">check</i>  Shipment delivery guidance.</li>
                        <li><i class="material-icons f-list">check</i>  delivery verification system.</li>
                    </ul>
                </div>
                <div class="col s6">
                    <h2 class="coundtown-blue">Customer</h2>
                    <p>Jabrool  app provides you with 24/7 on demand delivery. Arranging delivery for all sizes as long it fits safely in the courier&#39;s vehicle. Jabrool makes sending and receiving items much easier ever than before.</p>
                    <h5>Jabrool Customer properties:</h5>
                    <ul>
                        <li><i class="material-icons f-list">check</i> on demand delivery.</li>
                        <li><i class="material-icons f-list">check</i>  budget and express options.</li>
                        <li><i class="material-icons f-list">check</i>  wide range of vehicle sizes to transport your shipment.</li>
                        <li><i class="material-icons f-list">check</i>  easy cash or credit card payment methods.</li>
                        <li><i class="material-icons f-list">check</i>  live shipment tracking.</li>
                        <li><i class="material-icons f-list">check</i>  verification of item delivery.</li>
                    </ul>
                </div>
            </div>

            <div class="row screenshots">
                <div class="col s3 center">
                    <img src="/tmp/img/courier1.jpg" alt="courier app screenshot" >
                </div>
                <div class="col s3 center">
                    <img src="/tmp/img/courier2.jpg" alt="courier app screenshot" >
                </div>
                <div class="col s3 center">
                    <img src="/tmp/img/customer1.jpg" alt="customer app screenshot" >
                </div>
                <div class="col s3 center">
                    <img src="/tmp/img/customer2.jpg" alt="customer app screenshot" >
                </div>
            </div>

            <div class="row screenshots">
                <div class="col l2 xl2 s3">
                    <img src="/tmp/img/appstore.png" alt="Download on the Appstore" >
                </div>
                <div class="col l2 xl2 s3">
                    <img src="/tmp/img/gplay.png" alt="Android App on Google Play" >
                </div>
                <div class="col l2 offset-l2 xl2 offset-xl2 s3">
                    <img src="/tmp/img/appstore.png" alt="Download on the Appstore" >
                </div>
                <div class="col l2 xl2 s3">
                    <img src="/tmp/img/gplay.png" alt="Android App on Google Play" >
                </div>
            </div>
        </div> <!--end section-->
    </div> <!--end container-->

</main>
<!-- footer -->
<footer class="page-footer white">
    <div class="container center ">
        <div class="row">

            <div class="col s12  footersettings">
                <img src="/tmp/img/footer-logo.png" >
            </div>


        </div>
    </div>
    <div class="footer-copyright center">
        <div class="container">
            <a href="http://jabrool.com">&copy; Jabrool 2017. All rights reserved.</a>
        </div>
    </div>
</footer>

<script type="text/javascript">
    var clock;

    $(document).ready(function() {

        // Grab the current date
        var currentDate = new Date();

        // Set some date in the future. In this case, it's always Jan 1
        var futureDate  = new Date(2018, 3, 1);

        // Calculate the difference in seconds between the future and current date
        var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

        // Instantiate a coutdown FlipClock
        clock = $('.clock').FlipClock(diff, {
            clockFace: 'DailyCounter',
            countdown: true
        });

        $('#sbm').on('click', function () {
            $.ajax({
                type: 'POST',
                url: '/subscribe',
                dataType: "JSON",
                data: {
                    email: $('#email').val(),
                    name: $('#your_name').val()
                },
                success: function (data) {
                    console.log(data);
                    $('#email').val("");
                    $('#your_name').val("");
                },
                error: function() {
                    console.log('Error: ' + data);
                }
            });
        })
    });
</script>

</body>
</html>
