<div class="box box-primary">
    <div class="box-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="branch">{{ 'LABEL_BRANCH' | translate }}</label>
                    <input type="text" class="form-control" id="branch" placeholder="Branch" ng-model="model.bank.branch" name="branch">
                </div>
                <div class="form-group">
                    <label for="account_number">{{ 'LABEL_ACCOUNT_NUMBER' | translate }}</label>
                    <input type="text" class="form-control" id="account_number" placeholder="Account number" ng-model="model.bank.account_number" name="account_number">
                </div>
                <div class="form-group">
                    <label for="holder_name">{{ 'LABEL_HOLDER_NAME' | translate }}</label>
                    <input type="text" class="form-control" id="holder_name" placeholder="Holder name" ng-model="model.bank.holder_name" name="holder_name">
                </div>

                <div class="form-group">
                    <label for="type">{{ 'LABEL_ACCOUNT_TYPE' | translate }}</label>
                    <select class="form-control" id="type" name="type" ng-model="model.bank.type">
                        <option ng-repeat="(key, value) in lists.types" value="{{ value._id }}" >{{ value.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="bank">{{ 'LABEL_BANK' | translate }}</label>
                    <select class="form-control" id="bank" name="bank" ng-model="model.bank.bank">
                        <option ng-repeat="(key, value) in lists.banks" value="{{ value._id }}" >{{ value.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="country_code">{{ 'LABEL_COUNTRY' | translate }}</label>
                    <select class="form-control" id="country_code" name="country_code" ng-model="model.bank.country_code">
                        <option ng-repeat="(key, value) in lists.countries" value="{{ value.code }}" >{{ value.name }}</option>
                    </select>
                </div>

            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button type="button" class="btn btn-primary" ng-click="saveBank()">{{ 'BTN_SAVE' | translate }}</button>
    </div>
</div>