<div class="box box-primary">
    <div class="box-body">
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <label>{{ 'LABEL_UPLOAD_PHOTO' | translate }}</label>

                    <div class="button" ngf-select ngf-change="uploadLicense()" ng-model="license" name="file" ngf-pattern="'image/*'"
                         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                    >
                        <img class="preview" ng-show="(model.license.image && model.license.image != '')" ngf-src="model.license.image_url">
                        <img class="preview" ng-show="(!model.license.image || model.license.image == '')"  ng-src="/images/empty.png">
                        <br>
                        <span href="#" class="edit_ava center-block"></span>
                    </div>

                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="number">{{ 'LABEL_NUMBER' | translate }}</label>
                    <input type="text" class="form-control" id="number" placeholder="{{ 'LABEL_NUMBER' | translate }}" ng-model="model.license.number" name="number">
                </div>
                <div class="form-group">
                    <label for="name">{{ 'LABEL_LICENSE_NAME' | translate }}</label>
                    <input type="text" class="form-control" id="name" placeholder="{{ 'LABEL_LICENSE_NAME' | translate }}" ng-model="model.license.name" name="name">
                </div>
                <div class="form-group">
                    <label>{{ 'LABEL_ISSUE_DATE' | translate }}</label>
                    <p class="input-group">
                        <input
                                type="text"
                                class="form-control"
                                close-on-date-selection="true"
                                uib-datepicker-popup="{{format}}"
                                ng-model="model.license.issue_date"
                                is-open="datepicker2"
                                datepicker-options="dateOptions"
                                ng-required="true"
                                close-text="{{ 'LABEL_CLOSE' | translate }}"
                                placeholder="{{ 'LABEL_ISSUE_DATE' | translate }}"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="datepicker2 = !datepicker2"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label>{{ 'LABEL_EXPIRY_DATE' | translate }}</label>
                    <p class="input-group">
                        <input
                                type="text"
                                class="form-control"
                                close-on-date-selection="true"
                                uib-datepicker-popup="{{format}}"
                                ng-model="model.license.expiry_date"
                                is-open="datepicker1"
                                datepicker-options="dateOptions"
                                ng-required="true"
                                close-text="{{ 'LABEL_CLOSE' | translate }}"
                                placeholder="{{ 'LABEL_EXPIRY_DATE' | translate }}"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="datepicker1 = !datepicker1"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="country_code">{{ 'LABEL_COUNTRY' | translate }}</label>
                    <select class="form-control" id="country_code" name="country_code" ng-model="model.license.country_code">
                        <option ng-repeat="(key, value) in lists.countries" value="{{ value.code }}" >{{ value.name }}</option>
                    </select>
                </div>

            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button type="button" class="btn btn-primary" ng-click="saveLicense()">{{ 'BTN_SAVE' | translate }}</button>
    </div>
</div>