<div class="box box-primary">
    <div class="box-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <input type="text" class="form-control" id="text" placeholder="{{ 'LABEL_MESSAGE_TEXT' | translate }}" ng-model="message.text" name="text">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-footer">
                    <button type="button" class="btn btn-primary" ng-click="sendMessage()">{{ 'BTN_SEND' | translate }}</button>
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'LABEL_MESSAGE' | translate }}</th>
            <th>{{ 'LABEL_MESSAGE_DATE' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="item in message.items|itemsPerPage:message.itemsPerPage" total-items="message.total_count" current-page="message.pageno">
            <td>{{ item.text }}</td>
            <td>{{ item.updated_at | date : "dd/MM/yyyy hh:mm" }}</td>
        </tr>
        </tbody>
    </table>

    <dir-pagination-controls
            max-size="8"
            direction-links="true"
            boundary-links="true"
            on-page-change="getMessages(newMessagePageNumber)" >
    </dir-pagination-controls>

</div>