<div class="box box-primary">
    <div class="box-body">
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <label>{{ 'LABEL_IMAGE_FRONT' | translate }}</label>
                    <div class="button" ngf-select ngf-change="uploadVehiclePhoto('image_front')" ng-model="image_front" name="file" ngf-pattern="'image/*'"
                         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                    >
                        <img class="preview" ng-show="(model.vehicle.image_front && model.vehicle.image_front != '')" ngf-src="model.vehicle.image_front_url">
                        <img class="preview" ng-show="(!model.vehicle.image_front || model.vehicle.image_front == '')"  ng-src="/images/empty.png">
                        <br>
                        <span href="#" class="edit_ava center-block"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <label>{{ 'LABEL_IMAGE_BACK' | translate }}</label>
                    <div class="button" ngf-select ngf-change="uploadVehiclePhoto('image_back')" ng-model="image_back" name="file" ngf-pattern="'image/*'"
                         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                    >
                        <img class="preview" ng-show="(model.vehicle.image_back && model.vehicle.image_back != '')" ngf-src="model.vehicle.image_back_url">
                        <img class="preview" ng-show="(!model.vehicle.image_back || model.vehicle.image_back == '')"  ng-src="/images/empty.png">
                        <br>
                        <span href="#" class="edit_ava center-block"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <label>{{ 'LABEL_IMAGE_SIDE' | translate }}</label>
                    <div class="button" ngf-select ngf-change="uploadVehiclePhoto('image_side')" ng-model="image_side" name="file" ngf-pattern="'image/*'"
                         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                    >
                        <img class="preview" ng-show="(model.vehicle.image_side && model.vehicle.image_side != '')" ngf-src="model.vehicle.image_side_url">
                        <img class="preview" ng-show="(!model.vehicle.image_side || model.vehicle.image_side == '')"  ng-src="/images/empty.png">
                        <br>
                        <span href="#" class="edit_ava center-block"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{ 'LABEL_IMAGE_INSURANCE' | translate }}</label>
                    <div class="row">
                        <div ng-repeat="image in model.vehicle.images_insurance_url"
                             class="col-xs-3 button"
                        >
                            <img class="preview"  ngf-src="image">
                            <span ng-click="deleteVehicleInsuranceImage(model.vehicle.images_insurance[$index])">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="col-xs-3 button" ngf-select ngf-change="uploadInsurance()" ng-model="insurance" name="file" ngf-pattern="'image/*'"
                             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                        >
                            <img class="preview" ng-src="/images/empty.png">
                            <br>
                            <span href="#" class="edit_ava center-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="year">{{ 'LABEL_YEAR' | translate }}</label>
                    <select id="year" class="form-control" name="year" ng-model="model.vehicle.year">
                        <option ng-repeat="(key, value) in lists.years" value="{{ value }}" >{{ value }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="number">{{ 'LABEL_NUMBER' | translate }}</label>
                    <input type="text" class="form-control" id="number" placeholder="Number" ng-model="model.vehicle.number" name="number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ 'LABEL_MODEL' | translate }}</label>
                    <select class="form-control" name="role" ng-model="model.vehicle.model">
                        <option ng-repeat="(key, value) in lists.models" value="{{ value._id }}" >{{ value.name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ 'LABEL_TYPE' | translate }}</label>
                    <select class="form-control" name="status" ng-model="model.vehicle.type">
                        <option ng-repeat="(key, value) in lists.types" value="{{ value._id }}" >{{ value.name }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button type="button" class="btn btn-primary" ng-click="saveVehicle()">{{ 'BTN_SAVE' | translate }}</button>
    </div>
</div>