<h1 ng-if="!model._id">{{ 'TITLE_PAGE_ADD_BANK_ACCOUNT' | translate }}</h1>
<h1 ng-if="model._id">{{ 'TITLE_PAGE_EDIT_BANK_ACCOUNT' | translate }}</h1>
<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="name">{{ 'LABEL_NAME' | translate }}</label>
                    <input type="text" class="form-control" id="name" placeholder="{{ 'LABEL_NAME' | translate }}" ng-model="model.name" name="name">
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button class="btn btn-primary" ng-click="save()">{{ 'BTN_SAVE' | translate }}</button>
        <button class="btn btn-default" ng-click="cancel()">{{ 'CANCEL_BTN' | translate }}</button>
    </div>
</div>