<h1 ng-if="!model._id">Add car type</h1>
<h1 ng-if="model._id">Edit car type</h1>
<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="model.name">
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="small">Small:</label>
                            <input type="number" class="form-control" id="small" placeholder="Small" ng-model="model.small">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="medium">Medium:</label>
                            <input type="number" class="form-control" id="medium" placeholder="Medium" ng-model="model.medium">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="large">Large:</label>
                            <input type="number" class="form-control" id="large" placeholder="Large" ng-model="model.large">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>