<div class="box">
    <div class="box-body">
        <div class="system-log-view">

            <p><a class="btn btn-primary" href="#!/contact_us">{{ 'LABEL_BACK' | translate }}</a></p>

            <table class="table table-striped table-bordered detail-view">
                <tbody>

                <tr>
                    <th>{{ 'LABEL_PHONE' | translate }}</th>
                    <td>{{ model.phone }}</td>
                </tr>

                <tr>
                    <th>{{ 'LABEL_EMAIL' | translate }}</th>
                    <td>{{ model.email }}</td>
                </tr>

                <tr>
                    <th>{{ 'LABEL_NAME' | translate }}</th>
                    <td>{{ model.name }}</td>
                </tr>

                <tr>
                    <th>{{ 'LABEL_TEXT' | translate }}</th>
                    <td>{{ model.text }}</td>
                </tr>

                <tr>
                    <th>{{ 'LABEL_CREATED_TEXT' | translate }}</th>
                    <td>{{ model.created_at | date : "dd/MM/yyyy hh:mm" }}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>