<h1>{{ 'TITLE' | translate }}</h1>

<section class="row text-center placeholders">
    <div class="col-6 col-sm-3 placeholder">
        <h4>0</h4>
        <div class="text-muted">{{ 'TITLE' | translate }}</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <h4>0</h4>
        <span class="text-muted">{{ 'NEW_ORDERS_TO_DAY' | translate }}</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <h4>0</h4>
        <span class="text-muted">{{ 'NEW_USERS_TO_DAY' | translate }}</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <h4>0</h4>
        <span class="text-muted">{{ 'NEW_USERS2_TO_DAY' | translate }}</span>
    </div>
</section>

<h2>{{ 'TITLE_TABLE_NEW_USERS' | translate }}</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'TITLE_COL_FULL_NAME' | translate }}</th>
            <th>{{ 'TITLE_COL_PHONE' | translate }}</th>
            <th>{{ 'TITLE_COL_EMAIL' | translate }}</th>
            <th>{{ 'TITLE_COL_DATE_REGISTER' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, value) in data.users">
            <td>{{value.first_name}} {{value.last_name}}</td>
            <td>{{value.phone}}</td>
            <td>{{value.email}}</td>
            <td>{{value.created_at | date : "dd/MM/yyyy hh:mm"}}</td>
        </tr>
        </tbody>
    </table>
</div>