<h1>{{ 'TITLE_PAGE_CAR_MANUFACTURERS' | translate }}</h1>
<div class="table-responsive">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group input-group-sm">
                <input type="text" name="{{ 'LABEL_SEARCH' | translate }}" class="form-control" ng-model="search" >
                <span class="input-group-btn">
                  <button class="btn btn-info btn-flat" type="button" ng-click="cancelSearch()">X</button>
                </span>
            </div>
        </div>
        <div class="col-lg-6">
            <a href="#!/manufacturers/create" class="btn btn-success float-lg-right">{{ 'BTN_ADD' | translate }}</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-click="sort('name')">{{ 'LABEL_NAME' | translate }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="item in items|itemsPerPage:itemsPerPage" total-items="total_count" current-page="pageno">
            <td>{{ item.name }}</td>
            <td>
                <a href="#!/manufacturers/{{ item._id }}" class="btn btn-light">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <button type="button" ng-click="delete(item._id)" class="btn btn-light">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <dir-pagination-controls
            max-size="8"
            direction-links="true"
            boundary-links="true"
            on-page-change="getData(newPageNumber)" >
    </dir-pagination-controls>
</div>