<div class="box">
    <div class="box-body">
        <div class="system-log-view">

            <p><a class="btn btn-primary" href="#!/payments">{{ 'LABEL_BACK' | translate }}</a></p>

            <table class="table table-striped table-bordered detail-view">
                <tbody>

                <tr>
                    <th>{{ 'LABEL_PHONE' | translate }}</th>
                    <td>{{ model.user.phone }}</td>
                </tr>

                <tr>
                    <th>{{ 'LABEL_EMAIL' | translate }}</th>
                    <td>{{ model.user.email }}</td>
                </tr>

                <tr>
                    <th>{{ 'LABEL_TYPE' | translate }}</th>
                    <td>{{ model.type }}</td>
                </tr>

                <tr>
                    <th>{{ 'LABEL_STATUS' | translate }}</th>
                    <td>{{ model.status }}</td>
                </tr>

                <tr>
                    <th>{{ 'LABEL_AMOUNT' | translate }}</th>
                    <td>{{ model.amount }}</td>
                </tr>

                <tr>
                    <th>{{ 'LABEL_CREATED_AT' | translate }}</th>
                    <td>{{ model.created_at | date : "dd/MM/yyyy hh:mm" }}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>