<h1 ng-if="!model._id">{{ 'TITLE_PAGE_ADD_PROMO' | translate }}</h1>
<h1 ng-if="model._id">{{ 'TITLE_PAGE_EDIT_PROMO' | translate }}</h1>
<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="amount">{{ 'LABEL_AMOUNT' | translate }}</label>
                    <input type="number" class="form-control" id="amount" placeholder="{{ 'LABEL_AMOUNT' | translate }}" ng-model="model.amount" name="amount">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="forCourier">{{ 'LABEL_COURIER_PROMO' | translate }}</label>
                    <input type="checkbox" class="form-control" id="forCourier" ng-checked="model.forCourier" ng-model="model.forCourier" name="forCourier">
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button class="btn btn-primary" ng-click="save()">{{ 'BTN_SAVE' | translate }}</button>
        <button class="btn btn-default" ng-click="cancel()">{{ 'CANCEL_BTN' | translate }}</button>
    </div>
</div>