<h1 ng-if="!model._id">{{ 'TITLE_PAGE_ADD_USER' | translate }}</h1>
<h1 ng-if="model._id">{{ 'TITLE_PAGE_EDIT_USER' | translate }}</h1>
<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-6">
                <h5>{{ model.jabroolid }}</h5>
                <div class="form-group">
                    <label for="first_name">{{ 'LABEL_FIRST_NAME' | translate }}</label>
                    <input type="text" class="form-control" id="first_name" placeholder="{{ 'LABEL_FIRST_NAME' | translate }}" ng-model="model.first_name">
                </div>
                <div class="form-group">
                    <label for="last_name">{{ 'LABEL_LAST_NAME' | translate }}</label>
                    <input type="text" class="form-control" id="last_name" placeholder="{{ 'LABEL_LAST_NAME' | translate }}" ng-model="model.last_name">
                </div>
                <div class="form-group">
                    <label for="email">{{ 'LABEL_EMAIL' | translate }}</label>
                    <input type="email" class="form-control" id="email" placeholder="{{ 'LABEL_EMAIL' | translate }}" ng-model="model.email">
                </div>
                <div class="form-group">
                    <label for="phone">{{ 'LABEL_PHONE' | translate }}</label>
                    <input type="tel" class="form-control" id="phone" placeholder="{{ 'LABEL_PHONE' | translate }}" ng-model="model.phone">
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <label>{{ 'LABEL_UPLOAD_PHOTO' | translate }}</label>

                        <div class="button" ngf-select ngf-change="uploadPhoto('avatar')" ng-model="avatar" name="file" ngf-pattern="'image/*'"
                             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                        >
                            <img class="preview" ng-show="(model.avatar && model.avatar != '')" ngf-src="model.avatar_url">
                            <img class="preview" ng-show="(!model.avatar || model.avatar == '')"  ng-src="/images/empty.png">
                            <br>
                            <span href="#" class="edit_ava center-block"></span>
                        </div>

                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            {{ 'LABEL_BALANCE' | translate }} {{ model.balance }}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            {{ 'LABEL_COURIER_LIMIT' | translate }} {{ model.courierLimit }}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            {{ 'LABEL_JABROOL_FEE' | translate }} {{ model.jabroolFee }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="new_balance">{{ 'LABEL_ADD_BALANCE' | translate }}</label>
                            <input type="number" class="form-control" id="new_balance" placeholder="{{ 'LABEL_ADD_BALANCE' | translate }}" ng-model="model.new_balance">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="new_courierLimit">{{ 'LABEL_ADD_COURIER_LIMIT' | translate }}</label>
                            <input type="number" class="form-control" id="new_courierLimit" placeholder="{{ 'LABEL_ADD_COURIER_LIMIT' | translate }}" ng-model="model.new_courierLimit">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <button class="btn btn-warning" ng-click="resetJabroolFee()">{{ 'LABEL_RESET_JABROOL_FEE' | translate }}</button>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="type">{{ 'LABEL_TYPE' | translate }}</label>
                    <select class="form-control" id="type" ng-model="model.type">
                        <option value="user">user</option>
                        <option value="courier">courier</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="role">{{ 'LABEL_ROLE' | translate }}</label>
                    <select class="form-control" id="role" ng-model="model.role">
                        <option value="user">user</option>
                        <option value="admin">admin</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="status">{{ 'LABEL_STATUS' | translate }}</label>
                    <select class="form-control" id="status" ng-model="model.status">
                        <option value="active">active</option>
                        <option value="review">review</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="visible">{{ 'LABEL_VISIBLE' | translate }}</label>
                    <input type="checkbox" class="form-control" id="visible" ng-model="model.visible">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="in_progress">{{ 'LABEL_IN_PROGRESS' | translate }}</label>
                    <input type="checkbox" class="form-control" id="in_progress" ng-model="model.in_progress">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="password">{{ 'LABEL_NEW_PASSWORD' | translate }}</label>
                    <input type="text" class="form-control" id="password" placeholder="{{ 'LABEL_NEW_PASSWORD' | translate }}" ng-model="model.new_password">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                   <strong>{{ 'LABEL_PAY_DEFAULT_TYPE' | translate }}</strong> {{ model.pay_type }}
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->


    <div class="row">
        <div class="col-lg-6">
            <div class="box-footer">
                <button class="btn btn-primary" ng-click="save()">{{ 'BTN_SAVE' | translate }}</button>
                <button class="btn btn-default" ng-click="cancel()">{{ 'CANCEL_BTN' | translate }}</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box-footer" ng-if="model._id">
                <button class="btn btn-warning" ng-click="editBank()">{{ 'BTN_BANK' | translate }}</button>
                <button class="btn btn-warning" ng-click="editVehicle()">{{ 'BTN_VEHICLE' | translate }}</button>
                <button class="btn btn-warning" ng-click="editLicense()">{{ 'BTN_LICENSE' | translate }}</button>
                <button class="btn btn-warning" ng-click="viewMessages()">{{ 'BTN_MESSAGES' | translate }}</button>
            </div>
        </div>
    </div>
</div>