.css-jxiqlq{
    width: 60px;
    height: 60px;
    position: relative;
    margin: auto;
}
.css-jxiqlq-wrap{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 0px;
}
.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
}
.InputFromTo .DayPicker-Day {
    border-radius: 0 !important;
}
.InputFromTo .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.InputFromTo .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}
.InputFromTo .DayPickerInput-Overlay {
    width: 400px;
    background-color: #f0f8ff !important;
}
.InputFromTo-to .DayPickerInput-OverlayWrapper {
    margin-left: 0px;
    background-color: #f0f8ff !important;
}
.InputFromTo-to .DayPicker-Months {
    background-color: #f0f8ff !important;
}

.form-horizontal .control-label{
    text-align: left !important;
}
p.logs {
    word-wrap: break-word;
    word-break: break-all;
}
.main_container .top_nav {
    height: 58px;
}
