
<!-- footer -->
<footer class="page-footer white">
    <div class="container ">
        <div class="row">

            <div class="col l2 xl2 m2 s12  footersettings">
                <img src="/site/img/footer-logo.png" >
            </div>

            <div class="col l5 xl5 m9 offset-m1 s12  footersettings  valign-wrapper">
                <span class="partners">Our Partners </span>
                <img src="/site/img/partner1.png" >
                <img src="/site/img/partner2.png" >
            </div>

            <div class="col l4 xl4 m10 s12 footersettings bottomlogo">
                <a href="terms.html">Terms &amp; Conditions</a>
                <span>|</span>
                <a href="privacypolicy.html">Privacy Policy</a>
                <span>|</span>
                <a href="contactus.html">Contact Us</a>
            </div>

            <div class="col l1 zl1 m2  s12  footersettings">
                <img src="/site/img/twitter.svg" >
                <img src="/site/img/facebook.svg" >
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a href="http://jabrool.com">&copy; Jabrool 2017. All rights reserved.</a>
        </div>
    </div>
</footer>
