<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">
            <img src="/site/img/logo.png" alt="Jabrool" width="142" height="32">
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/download">Download App</a></li>
            <li>
                <a href="#/profile" class="companylogo">
                    <img  class="circle" src="<%- user.avatar %>" alt="Profile" height="60" width="60" >
                </a>
            </li>
            <li>
                <div>
                    <p class="companyname"><%- user.first_name %> <%- user.last_name %></p>
                    <p class="companyname">

                        <% if(user.rating >= 1) {%><span class="fa fa-star starchecked"/><% } %>
                        <% if(user.rating >= 2) {%><span class="fa fa-star starchecked"/><% } %>
                        <% if(user.rating >= 3) {%><span class="fa fa-star starchecked"/><% } %>
                        <% if(user.rating >= 4 ) {%><span class="fa fa-star starchecked"/><% } %>
                        <% if(user.rating >= 5) {%><span class="fa fa-star starchecked"/><% } %>

                        <% if(user.rating < 1) {%><span class="fa fa-star starunchecked"/><% } %>
                        <% if(user.rating < 2) {%><span class="fa fa-star starunchecked"/><% } %>
                        <% if(user.rating < 3) {%><span class="fa fa-star starunchecked"/><% } %>
                        <% if(user.rating < 4) {%><span class="fa fa-star starunchecked"/><% } %>
                        <% if(user.rating < 5) {%><span class="fa fa-star starunchecked"/><% } %>

                    </p>
                    <p class="companyname">
                        <a href="/logout" class="logoutlink">Logout</a></p>
                </div>
            </li>
        </ul>

        <!-- mobile navigation start -->
        <ul id="nav-mobile" class="side-nav">
            <li class="companylogo-mobile">
                <a href="#/profile" >
                    <img  class="circle" src="<%- user.avatar %>" alt="Profile" height="60" width="60" >
                </a>
            </li>
            <li>
                <p class="companyname-mobile"> <%- user.first_name %> <%- user.last_name %></p>
            </li>
            <li>
                <p class="companyname-mobile">
                    <% if(user.rating >= 1) {%><span class="fa fa-star starchecked"/><% } %>
                    <% if(user.rating >= 2) {%><span class="fa fa-star starchecked"/><% } %>
                    <% if(user.rating >= 3) {%><span class="fa fa-star starchecked"/><% } %>
                    <% if(user.rating >= 4 ) {%><span class="fa fa-star starchecked"/><% } %>
                    <% if(user.rating >= 5) {%><span class="fa fa-star starchecked"/><% } %>

                    <% if(user.rating < 1) {%><span class="fa fa-star starunchecked"/><% } %>
                    <% if(user.rating < 2) {%><span class="fa fa-star starunchecked"/><% } %>
                    <% if(user.rating < 3) {%><span class="fa fa-star starunchecked"/><% } %>
                    <% if(user.rating < 4) {%><span class="fa fa-star starunchecked"/><% } %>
                    <% if(user.rating < 5) {%><span class="fa fa-star starunchecked"/><% } %>
                </p>
                <p class="companyname-mobile"&nbsp;</p>
            </li>
            <li class="active-element"><a href="#"><i class="material-icons">layers</i>My Orders</a></li>
            <li><a href="myhistory.html"><i class="material-icons">attach_money</i>My History</a></li>
            <li><a href="paymentmethod.html"><i class="material-icons">payment</i>Payment</a></li>
            <li><a href="redeem.html"><i class="material-icons">redeem</i>Redeem</a></li>
            <li><a href="referal.html"><i class="material-icons">link</i>Refer a Friend</a></li>
            <li><a href="settings.html"><i class="material-icons">settings</i>Settings</a></li>

            <li><a href="/">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/downloadapp">Download App</a></li>
            <li><a href="/logout" class="teal-text">Logout</a></li>
        </ul>
        <!-- mobile navigation end -->
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
