<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/account/header'); %>
<body>

<%- include('../layouts/account/topMenu', {user: user}); %>

<main id="account_home">

</main>

<%- include('../layouts/account/footer'); %>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/site/js/materialize.js"></script>
<script src="/site/js/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<!-- Load the required client component. -->
<script src="https://js.braintreegateway.com/web/3.31.0/js/client.min.js"></script>
<!-- Load Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.31.0/js/hosted-fields.min.js"></script>
<script src="/site/js/init.js"></script>
<script src="/dist_site/account_home_bundle.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>

</body>
</html>
