<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Jabrool</title>
</head>
<body style="background-color:  #eaeaea; text-align: center; font-family: Arial, Helvetica, sans-serif;">

<table bgcolor="#ffffff" border="0" width= "95%" align="center" cellpadding="40px">
    <tbody>
    <tr>
        <td><img src="<%=data.url%>/images/logo.png" /></td>
    </tr>
    <tr>
        <td style="background-color: #10b6bf; color: #cff0f2; font-size: 20px; padding: 60px;">
            <p><span style="color: #ffffff;">Dear <%= user.first_name %> <%= user.last_name %></span>, <br>
                You have reached cash limits, you can not get anymore deliveries. Please, pay off Jabrool debt by creditcard or depost it to Jabrool Office.</p>
        </td>
    </tr>

    </tbody>
</table>

</body>
</html>