<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Jabrool</title>
</head>
<body style="background-color:  #eaeaea; text-align: center; font-family: Arial, Helvetica, sans-serif;">

<table bgcolor="#ffffff" border="0" width= "95%" align="center" cellpadding="40px">
    <tbody>
    <tr>
        <td><img src="<%=data.url%>/images/logo.png" /></td>
    </tr>
    <tr>
        <td style="background-color: #10b6bf; color: #cff0f2; font-size: 20px; padding: 60px;">
            <p><span style="color: #ffffff;">Dear <%= user.first_name %> <%= user.last_name %></span>, <br>
                You recently registered in the App.</p>
            <p>Please use the following data for login:<br>
                <span style="color: #ffffff; font-weight: 600;">Login: <%= user.phone %></span>
                <br>
                <span style="color: #ffffff; font-weight: 600;">Password: <%= user.new_password %></span>
            </p>
            <a href="<%=data.url%>/confirm/<%= user.confirm_email_code %>" style="background-color: #ffffff; color: #2f3943; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; border-radius: 5px; text-decoration: none; font-size: 16px; font-weight: 600;">CONFIRM EMAIL</a>
        </td>
    </tr>

    </tbody>
</table>

</body>
</html>