Dear <%= user.first_name %> <%= user.last_name %>,

You recently registered in the App.
Please use the following data for login:
Login: <%= user.phone %>
Password: <%= user.new_password %>

Confirm email: <%=data.url%>/confirm/<%= user.confirm_email_code %>

Thank you.