<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jabrool | Admin</title>

    <style>
        .preload {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60px;
            height: 60px;
            margin: -42px 0 0 -12px;
            background: #169F85;
            transform: rotate(45deg);
            animation: spin 1s infinite linear;
        }
        @keyframes spin {
            0% { -webkit-transform:rotate(0deg); }
            100% { -webkit-transform:rotate(360deg); }
        }
    </style>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <div id="root"></div>

        <div id="preload" class="preload"></div>

        <!-- footer content -->
        <footer>
            <div class="pull-right" style="color: #169F85">
                Jabrool admin
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="/node_modules/gentelella/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/node_modules/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/dist_admin/admin_bundle.js"></script>

</body>
</html>
