<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Jabrool admin</title>

    <% for (var i = 0; i < css.length; i++) {%>
    <link rel="stylesheet" href="<%= css[i] %>">
    <% } %>

</head>

<body ng-app="angularAdmin">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#/">Dashboard</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#!/newUsers">New couriers</a>
                        <a class="dropdown-item" href="#!/users">All users</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Service</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#!/promocodes">Promo codes</a>
                        <a class="dropdown-item" href="#!/contact_us">Contact us</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Money</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#!/payments">Payment log</a>
                        <!--<a class="dropdown-item" href="#">Orders</a>-->
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Config</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#!/config/packages">Package</a>
                        <a class="dropdown-item" href="#!/config/package_ratio">Package size ratio</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!/config/radius">Radius</a>
                        <a class="dropdown-item" href="#!/config/delivery">Delivery params</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!/config/terms">Terms and conditions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!/config/cancel_params">Cancel request params</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!/config/logs">Logs</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!/config/price">Price</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!/config/bonuses">Bonuses</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catalogs</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#!/countries">Countries</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!/manufacturers">Car manufacturers</a>
                        <a class="dropdown-item" href="#!/car_types">Car types</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!/bank_types">Bank account types</a>
                        <a class="dropdown-item" href="#!/banks">Banks</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#!/reports/couriers">Couriers</a>
                        <a class="dropdown-item" href="#!/reports/customers">Customers</a>
                        <a class="dropdown-item" href="#!/reports/hours">Hours</a>
                        <a class="dropdown-item" href="#!/reports/orders">Orders</a>
                        <a class="dropdown-item" href="#!/reports/courior_clusters">Courior clusters</a>
                        <a class="dropdown-item" href="#!/reports/cusotmer_clusters">Cusotmer clusters</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">System</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#!/logs/api">Api logs</a>
                        <!--<a class="dropdown-item" href="#!/logs/error">Error logs</a>-->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!/logs/email">Email logs</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!/logs/sms">Sms log</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/logout">Exit</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <main role="main" ng-view>

                </main>
            </div>
        </div>
    </div>

    <div style="height: 50px;"></div>

    <span us-spinner spinner-theme="bigBlue" ng-show="loading"></span>

<% for (var i = 0; i < js.length; i++) {%>
<script src="<%= js[i] %>"></script>
<% } %>

</body>
</html>
