<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Jabrool</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="/site/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/site/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv3Ksy-N2EkaJBCUFS-Qc6q0aRLRT_lS4&libraries=places"></script>
</head>
