<!-- Modal Structure -->
<div id="loginpopup" class="modal ">
    <div class="modal-content">
        <div class="row header valign-wrapper">
            <div class="col s8 offset-s2">Login </div>
            <div class="col s2"><a href="#!" class=" modal-action modal-close" ><img src="/site/img/close.png" alt="×" ></a></div>
        </div>
    </div>


    <div id="login_form"></div>


</div>
