<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img src="/site/img/logo.png" alt="Jabrool" width="142" height="32"></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/download">Download App</a></li>
            <li><a data-target="loginpopup" class="loginlink modal-trigger">LOGIN</a></li>
            <li><a href="/register" class="btn waves-effect waves-light teal lighten-1">REGISTER</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#" class="myactivelink">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="downloadapp.html">Download App</a></li>
            <li><a data-target="loginpopup" class="loginlink modal-trigger">LOGIN</a></li>
            <li><a href="registration.html" class="btn waves-effect waves-light teal lighten-1">REGISTER</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
