<h1>{{ 'TITLE_PAGE_BONUSES' | translate }}</h1>
<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inviteBonuses">{{ 'LABEL_INVITE_BONUSES' | translate }}</label>
                    <input type="number" class="form-control" id="inviteBonuses" placeholder="size" ng-model="model.inviteBonuses">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="defaultCourierLimit">{{ 'LABEL_DEFAULT_COURIER_LIMIT' | translate }}</label>
                    <input type="number" class="form-control" id="defaultCourierLimit" placeholder="size" ng-model="model.defaultCourierLimit">
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button class="btn btn-primary" ng-click="save()">{{ 'BTN_SAVE' | translate }}</button>
    </div>
</div>