<h1>{{ 'TITLE_PAGE_CANCEL_REQUEST' | translate }}</h1>
<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="s_jabrool">{{ 'LABEL_CANCEL_COST' | translate }}</label>
                    <input type="number" class="form-control" id="s_jabrool" placeholder="size" ng-model="model.cost">
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button class="btn btn-primary" ng-click="save()">{{ 'BTN_SAVE' | translate }}</button>
    </div>
</div>