<h1>{{ 'TITLE_PAGE_DELIVERY_PARAMS' | translate }}</h1>
<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="s_jabrool">{{ 'LABEL_WAITING_TIME' | translate }}</label>
                    <input type="number" class="form-control" id="s_jabrool" placeholder="{{ 'LABEL_WAITING_TIME' | translate }}" ng-model="model.waiting_time">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="m_jabrool">{{ 'LABEL_AVERAGE_SPEED' | translate }}</label>
                    <input type="number" class="form-control" id="m_jabrool" placeholder="{{ 'LABEL_AVERAGE_SPEED' | translate }}" ng-model="model.average_speed">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="m_jabrool">{{ 'LABEL_MISSED_TIME' | translate }}</label>
                    <input type="number" class="form-control" id="missed_time" placeholder="{{ 'LABEL_MISSED_TIME' | translate }}" ng-model="model.missed_time">
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button class="btn btn-primary" ng-click="save()">{{ 'BTN_SAVE' | translate }}</button>
    </div>
</div>