<h1>{{ 'TITLE_PAGE_SYSTEM_LOGS' | translate }}</h1>
<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="logs">{{ 'LABEL_API_LOGS' | translate }}</label>
                    <input type="checkbox" class="form-control" id="logs" placeholder="Radius" ng-model="model.api">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="error">{{ 'LABEL_ERROR_LOGS' | translate }}</label>
                    <input type="checkbox" class="form-control" id="error" placeholder="Radius" ng-model="model.error">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="email">{{ 'LABEL_EMAIL_LOGS' | translate }}</label>
                    <input type="checkbox" class="form-control" id="email" placeholder="Radius" ng-model="model.email">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="sms">{{ 'LABEL_SMS_LOGS' | translate }}</label>
                    <input type="checkbox" class="form-control" id="sms" placeholder="Radius" ng-model="model.sms">
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button class="btn btn-primary" ng-click="save()">{{ 'BTN_SAVE' | translate }}</button>
    </div>
</div>