<h1>{{ 'TITLE_PAGE_CONFIG_PACKAGE_PRICE' | translate }}</h1>
<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-4">
                <h3>{{ 'LABEL_PRICE_SMALL_PACKAGES' | translate }}</h3>
                <div class="form-group">
                    <label for="s_jabrool">{{ 'LABEL_JABROOL' | translate }}</label>
                    <input type="number" class="form-control" id="s_jabrool" placeholder="price" ng-model="model.small.j_cost">
                </div>
                <div class="form-group">
                    <label for="s_express">{{ 'LABEL_EXPRESS' | translate }}</label>
                    <input type="number" class="form-control" id="s_express" placeholder="price" ng-model="model.small.e_cost">
                </div>
                <div class="form-group">
                    <label for="s_jabrool">{{ 'LABEL_FROM_DIMENSION' | translate }}</label>
                    <input type="number" class="form-control" id="s_from_dimension" placeholder="price" ng-model="model.small.from_dimension">
                </div>
                <div class="form-group">
                    <label for="s_express">{{ 'LABEL_TO_DIMENSION' | translate }}</label>
                    <input type="number" class="form-control" id="s_to_dimension" placeholder="price" ng-model="model.small.to_dimension">
                </div>
                <div class="form-group">
                    <label for="s_express">{{ 'LABEL_MAX_COUNT' | translate }}</label>
                    <input type="number" class="form-control" id="s_max_count" placeholder="price" ng-model="model.small.max_count">
                </div>
            </div>
            <div class="col-sm-4">
                <h3>{{ 'LABEL_PRICE_MEDIUM_PACKAGES' | translate }}</h3>
                <div class="form-group">
                    <label for="m_jabrool">{{ 'LABEL_JABROOL' | translate }}</label>
                    <input type="number" class="form-control" id="m_jabrool" placeholder="Name" ng-model="model.medium.j_cost">
                </div>
                <div class="form-group">
                    <label for="m_express">{{ 'LABEL_EXPRESS' | translate }}</label>
                    <input type="number" class="form-control" id="m_express" placeholder="Name" ng-model="model.medium.e_cost">
                </div>
                <div class="form-group">
                    <label for="s_jabrool">{{ 'LABEL_FROM_DIMENSION' | translate }}</label>
                    <input type="number" class="form-control" id="m_from_dimension" placeholder="price" ng-model="model.medium.from_dimension">
                </div>
                <div class="form-group">
                    <label for="s_express">{{ 'LABEL_TO_DIMENSION' | translate }}</label>
                    <input type="number" class="form-control" id="m_to_dimension" placeholder="price" ng-model="model.medium.to_dimension">
                </div>
                <div class="form-group">
                    <label for="s_express">{{ 'LABEL_MAX_COUNT' | translate }}</label>
                    <input type="number" class="form-control" id="m_max_count" placeholder="price" ng-model="model.medium.max_count">
                </div>
            </div>
            <div class="col-sm-4">
                <h3>{{ 'LABEL_PRICE_LARGE_PACKAGES' | translate }}</h3>
                <div class="form-group">
                    <label for="l_jabrool">{{ 'LABEL_JABROOL' | translate }}</label>
                    <input type="number" class="form-control" id="l_jabrool" placeholder="Name" ng-model="model.large.j_cost">
                </div>
                <div class="form-group">
                    <label for="l_expressl">{{ 'LABEL_EXPRESS' | translate }}</label>
                    <input type="number" class="form-control" id="l_expressl" placeholder="Name" ng-model="model.large.e_cost">
                </div>
                <div class="form-group">
                    <label for="s_jabrool">{{ 'LABEL_FROM_DIMENSION' | translate }}</label>
                    <input type="number" class="form-control" id="l_from_dimension" placeholder="price" ng-model="model.large.from_dimension">
                </div>
                <div class="form-group">
                    <label for="s_express">{{ 'LABEL_TO_DIMENSION' | translate }}</label>
                    <input type="number" class="form-control" id="l_to_dimension" placeholder="price" ng-model="model.large.to_dimension">
                </div>
                <div class="form-group">
                    <label for="s_express">{{ 'LABEL_MAX_COUNT' | translate }}</label>
                    <input type="number" class="form-control" id="l_max_count" placeholder="price" ng-model="model.large.max_count">
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button class="btn btn-primary" ng-click="save()">{{ 'BTN_SAVE' | translate }}</button>
    </div>
</div>