<h1>{{ 'TITLE_PAGE_SIZE_RATIO' | translate }}</h1>
<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="s_jabrool">{{ 'LABEL_SMALL_PACKAGE' | translate }}</label>
                    <input type="number" class="form-control" id="s_jabrool" placeholder="{{ 'LABEL_SMALL_PACKAGE' | translate }}" ng-model="model.small">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="m_jabrool">{{ 'LABEL_MEDIUM_PACKAGE' | translate }}</label>
                    <input type="number" class="form-control" id="m_jabrool" placeholder="{{ 'LABEL_MEDIUM_PACKAGE' | translate }}" ng-model="model.medium">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="l_jabrool">{{ 'LABEL_LARGE_PACKAGE' | translate }}</label>
                    <input type="number" class="form-control" id="l_jabrool" placeholder="{{ 'LABEL_LARGE_PACKAGE' | translate }}" ng-model="model.large">
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button class="btn btn-primary" ng-click="save()">{{ 'BTN_SAVE' | translate }}</button>
    </div>
</div>