<h1>{{ 'TITLE_PAGE_CONFIG_PRICE' | translate }}</h1>
<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-4">
                <h3>{{ 'LABEL_SYSTEM_PERCENT' | translate }}</h3>
                <div class="form-group">
                    <label for="j_percent">{{ 'LABEL_JABROOL' | translate }}</label>
                    <input type="number" class="form-control" id="j_percent" ng-model="model.j_percent">
                </div>
                <div class="form-group">
                    <label for="e_percent">{{ 'LABEL_EXPRESS' | translate }}</label>
                    <input type="number" class="form-control" id="e_percent" ng-model="model.e_percent">
                </div>
            </div>
            <div class="col-sm-4">
                <h3>{{ 'LABEL_FIX_COST' | translate }}</h3>
                <div class="form-group">
                    <label for="j_fix_cost">{{ 'LABEL_JABROOL' | translate }}</label>
                    <input type="number" class="form-control" id="j_fix_cost" ng-model="model.j_fix_cost">
                </div>
                <div class="form-group">
                    <label for="e_fix_cost">{{ 'LABEL_EXPRESS' | translate }}</label>
                    <input type="number" class="form-control" id="e_fix_cost" ng-model="model.e_fix_cost">
                </div>
            </div>
            <div class="col-sm-4">
                <h3>{{ 'LABEL_MIN_PRICE' | translate }}</h3>
                <div class="form-group">
                    <label for="j_min_cost">{{ 'LABEL_JABROOL' | translate }}</label>
                    <input type="number" class="form-control" id="j_min_cost" ng-model="model.j_min_cost">
                </div>
                <div class="form-group">
                    <label for="e_min_cost">{{ 'LABEL_EXPRESS' | translate }}</label>
                    <input type="number" class="form-control" id="e_min_cost" ng-model="model.e_min_cost">
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button class="btn btn-primary" ng-click="save()">{{ 'BTN_SAVE' | translate }}</button>
    </div>
</div>