<h1>{{ 'TITLE_PAGE_CONFIG_RADIUS' | translate }}</h1>
<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="s_jabrool">{{ 'LABEL_RADIUS_NEW_REQUEST' | translate }}</label>
                    <input type="number" class="form-control" id="s_jabrool" placeholder="Radius" ng-model="model.request">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="m_jabrool">{{ 'LABEL_LOCATION_RADIUS' | translate }}</label>
                    <input type="number" class="form-control" id="m_jabrool" placeholder="Radius" ng-model="model.feed">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="l_jabrool">{{ 'LABEL_RADIUS_DROP_OFF' | translate }}</label>
                    <input type="number" class="form-control" id="l_jabrool" placeholder="Radius" ng-model="model.drop_off">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="close_radius">{{ 'LABEL_RADIUS_DROP_OFF' | translate }}</label>
                    <input type="number" class="form-control" id="close_radius" placeholder="Radius" ng-model="model.close_radius">
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button class="btn btn-primary" ng-click="save()">{{ 'BTN_SAVE' | translate }}</button>
    </div>
</div>