<h1>{{ 'TITLE_PAGE_TERMS' | translate }}</h1>
<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{ 'LABEL_TERMS' | translate }} (courier En)</label>
                    <textarea class="form-control" placeholder="{{ 'LABEL_TERMS' | translate }}" ng-model="model.terms_courier_en"></textarea>
                </div>

                <div class="form-group">
                    <label>{{ 'LABEL_TERMS' | translate }} (courier Ar)</label>
                    <textarea class="form-control" placeholder="{{ 'LABEL_TERMS' | translate }}" ng-model="model.terms_courier_ar"></textarea>
                </div>

                <div class="form-group">
                    <label>{{ 'LABEL_TERMS' | translate }} (customer En)</label>
                    <textarea class="form-control" placeholder="{{ 'LABEL_TERMS' | translate }}" ng-model="model.terms_customer_en"></textarea>
                </div>

                <div class="form-group">
                    <label>{{ 'LABEL_TERMS' | translate }} (customer Ar)</label>
                    <textarea class="form-control" placeholder="{{ 'LABEL_TERMS' | translate }}" ng-model="model.terms_customer_ar"></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{ 'LABEL_PRIVACY' | translate }} En</label>
                    <textarea class="form-control" placeholder="{{ 'LABEL_PRIVACY' | translate }}" ng-model="model.privacy_en"></textarea>
                </div>
                <div class="form-group">
                    <label>{{ 'LABEL_PRIVACY' | translate }} Ar</label>
                    <textarea class="form-control" placeholder="{{ 'LABEL_PRIVACY' | translate }}" ng-model="model.privacy_ar"></textarea>
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
        <button class="btn btn-primary" ng-click="save()">{{ 'BTN_SAVE' | translate }}</button>
    </div>
</div>