/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

nav ul a.myactivelink, nav ul a.myactivelink:hover {
    color: #2f3943;
    font-family: "Lato";
    font-weight: bold;
    cursor: default;
    background-color: transparent;
}

nav ul a.loginlink, av ul a.loginlink:hover {
    color: #10b6bf;
    font-family: "Lato";

}

.button-collapse {
    color: #00bcc6;
}

.parallax-container {
    min-height: 380px; /*380*/
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    /*992*/
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }

    .parallax-form {
        min-height: 830px; /*380*/
    }

    .parallax-form2 {
        min-height: 820px; /*380*/
    }

    .parallax-form3 {
        min-height: 980px; /*380*/
    }

    .parallax-form4 {
        min-height: 555px; /*380*/
    }

    .formstep1 {
        margin: 2rem 0 2rem 0 !important;

    }

}

@media only screen and (max-width: 600px) {

    #index-banner .section {
        top: 0;
    }

    div.footersettings {
        margin: 0.5rem 0.2rem 0 0;
    }

    div.bottomlogo {
        margin: 2rem 0 0 0;
    }

    .min500 {
        min-height: auto !important;
    }
}

div.mygreysection {
    margin: 2rem 0 2rem 0 !important;
    top: 0px !important;
    bottom: 0px !important;

}

div.mygreysection h2 {
    margin: 2.1rem 0 1.68rem 0;
}

.icon-block {
    padding: 0 15px;
    margin: 0;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 2rem 0 0 0;
}

div.footersettings {
    margin: 0.5rem 0 2rem 0.5rem;
}

.partners {
    font-size: 16px;
    margin: 0 1rem 0 0;
}

p.myparagraph {
    font-size: 100%;
    color: #9d9d9d;
    line-height: 120%;
    margin: 0;
}

.icon-block .bigicons {
    color: #eaeaea;
    display: block;
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
    margin: 1.75rem 0 0.2rem 0;
}

div.mywhitesection {
    margin-bottom: 4rem;
}

div.mywhitesection p {
    font-size: 1rem;
    line-height: 1rem;
    text-indent: 0.5rem;
    text-align: left;
}

div.mywhitesection div.center-align p {
    font-size: 1rem;
    line-height: 1rem;
    text-indent: 0.5rem;
    text-align: center;
}

div.grayimgbg {
    background-image: url("../img/jabrool-grey-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #eaeaea;
    background-size: cover;
}

div.contactus-map {
    background-image: url("../img/map.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
}

.grayimgbg .btn {
    margin: 2.5rem 0 4.5rem 0;
}

/* start dark block on main page */
div.darkbackground {
    background-color: #2f3943;
}

.darkbackground h2 {
    color: #fff;
}

.darkbackground form {
    margin: 0 0 3rem 0;
}

.darkbackground .button-w {
    margin: 1.8rem 0 0 0;
    text-align: center;
}

.darkbackground .input-field {
    position: relative;
    color: #fff;
    margin-top: 3rem;
}

.darkbackground .btn {
    width: 100%;
    margin-bottom: 0;
}

/* end of dark block on main page */

div.formstep1 {
    background-color: #fff;
    margin: 7rem;
}

h4.formheader, div.modal div.header {
    background-color: #00bcc6;
    color: #fff;
    font-size: 1.3rem;
    margin: 0;
    line-height: 5.5rem;
    text-align: center;
    text-transform: uppercase;
}

div.formheader {
    background-color: #00bcc6;
    color: #fff;
    margin: 0;
    line-height: 5.5rem;
    text-align: center;
}

img.backarrow {
    line-height: 10rem;
    padding: 1.8rem 0 0 1rem;
}

.modal-content .header {
    font-size: 1.3rem;
    margin: 0;
    font-color: #fff;
    text-align: center;
}

i.dropdownicon, i.dropdownicon.active {
    color: #2fdc00;
}

i.dropofficon, i.dropofficon.active {
    color: #dc000a;
}

a.standartmargin {
    margin: 1.5rem 0 3rem 0;
}

a.doublemargin {
    margin: 3rem 0 3rem 0;
}

a.halfmargin {
    margin: 0.5rem 0 1.5rem 0;
}

div.imageblock img, div.screenshots img {
    margin-top: 1.5rem;
    max-width: 100%;
    height: auto;
}

.officeaddress {
    background-color: #fff;
    padding: 40px;
    width: 320px;
    text-align: center;
    margin: 4rem 0 4rem 0;
    display: inline-block;

}

.officeaddress p {
    line-height: 1rem;
    font-size: 1rem;
    text-align: left;
}

.officeaddress p .material-icons {
    margin: 0 1rem 0 0;
    vertical-align: -0.4rem;
}

.rbtn-label {
    margin: 0 0 0 0 0;
    color: #9d9d9d;
    text-indent: 0.2rem !important;
}

.radiomargin {
    margin: 0.5rem 0 0.5rem 0;
}

.checkboxomargin {
    margin: 3.1rem 0 0.5rem 0;
}

.whitebutton, .whitebutton:hover {
    background-color: #ffffff;
    color: #00bcc6;
    border-color: #e7e4e4;
    border-width: 1px;
    border-style: solid;
}

.fullwidth {
    width: 100%;
    text-align: center;
}

a.companylogo, a.companylogo:hover {
    font-size: 2.1rem;
    display: inline;
    background-color: #fff;
}

li.companylogo-mobile {
    height: 80px;
    text-align: center;
    background-color: #ffffff;
}

.companylogo-mobile a {
    font-size: 2.1rem;

}

.side-nav li.companylogo-mobile > a:hover {
    background-color: #ffffff;
}

.companylogo img {
    margin-top: 0.7rem;
}

.companylogo-mobile img {
    margin: 1.7rem 0 0 0;

}

p.companyname {
    color: #404040;
    font-size: 1rem;
    height: 1.2rem;
    margin: 0.3rem 0 0 0;
    padding: 0;
}

p.companyname-mobile {
    color: #404040;
    font-size: 1rem;
    height: 1.2rem;
    margin: 0.3rem 0 0 0;
    padding: 0;
    text-align: center;
}

.starunchecked {
    color: #9d9d9d;
}

.starchecked {
    color: #2fdc00;
}

a.logoutlink, a.logoutlink:hover {
    margin: 0.5rem 0 0 0;
    padding: 0;
    color: #10b6bf;
    background-color: #ffffff;
    font-size: 1rem;
    display: block;
    height: 1.2rem;
    line-height: 1.2rem;
}

div.submenu {
    background-color: #00b5bf;
    height: 2.8rem;
    line-height: 2.7rem;
    text-align: left;
}

div.submenu ul {
    margin: 0;
}

div.submenu ul li {
    display: inline-block;
}

div.submenu a, div.submenu a:hover {
    color: #bbebee;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.5rem;
    margin-right: 0.9rem;
}

div.submenu a:hover {
    color: #fff;
}

div.submenu .active-element {
    background-color: #ffffff;
    border-color: #00b5bf;
    border-style: solid;
    border-width: 1px;
}

ul.side-nav li.active-element {
    background-color: #00b5bf;
}

ul.side-nav li.active-element a, ul.side-nav li.active-element i.material-icons {
    color: #bbebee;
}

div.submenu .active-element a {
    color: #00b5bf;
}

div.submenu i {
    font-size: 1.2rem;
    vertical-align: text-bottom;
    margin-right: 0.2rem;
    margin-left: 0.9rem;
}

.active-s-tab {
    background-color: #ffffff;
    border-left: solid 0.5rem #e5f7f8;
    padding: 1rem;
    border-radius: 0.8rem 0 0 0.8rem;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.35);
}

.active-s-tab p {
    color: #2f3943;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 200;
    margin: 0.8rem;
}

div.card-order p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #ff0000;
}

div.card-order p strong {
    font-family: "Lato Semibold";
}

div.card-order p i.material-icons, div.card-corder p i.material-icons {
    vertical-align: -0.4rem;
}

div.card-order p a {
    color: #10b6bf;
}

div.card-content p.companyname {
    font-size: 0.9rem;
    white-space: nowrap;
    margin-left: 0.3rem;
}

.dateblock {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.notification-blueblock {

    float: right !important;
}

.mdl-badge {
    position: relative;
    white-space: nowrap;
    margin-right: 24px
}

.mdl-badge:not([data-badge]) {
    margin-right: auto
}

.mdl-badge[data-badge]:after {
    content: attr(data-badge);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: -11px;
    right: -24px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    font-size: 12px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: rgb(255, 64, 129);
    color: #fff;
}

.mdl-badge[data-badge]:after {
    right: -12px !important;
}

div.mycollection a.collection-item {
    color: #545b63;
}

div.mycollection {
    margin-bottom: 0px !important;
}

div.mycollection .collection-item {
    padding: 5px 20px;
}

div.card-content > h5 {
    margin: 0.2rem;
}

div.card-content > h6 {
    margin: 3rem 0 0.2rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.rating-date {
    float: right;
    display: inline-block;
}

p.rating-feedback {
    margin-bottom: 1rem !important;
}

h5.earnings-header {
    text-align: left;
    font-size: 1.2rem;
    border-bottom: solid 1px #e7e4e4;
    color: #9d9d9d;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    height: 2rem;
}

table.table-earnings tr {
    color: #545b63;
    margin-bottom: 2px;
    margin-top: 2px;
    line-height: 1rem;
    font-size: 1rem;
}

table.table-earnings tr td:nth-child(3) {
    text-align: right;
}

table.table-earnings tr td:nth-child(2) a {
    color: #00b5bf;
}

table.table-earnings tr td:nth-child(1) {
    text-indent: 2rem;
}

tr.newday {
    border-top: dashed 1px #e7e4e4;
}

div.corder-courier {
    margin-top: 1.0rem !important;
    margin-bottom: 0.5rem !important;
}

.corder-courier div:nth-child(2) p {
    margin: 0px;
    line-height: 1.5rem;
}

div.card-action > a.loginlink {
    cursor: pointer;
}

table.paymentmethod :nth-child(1) {
    border-top: #e7e4e4 1px solid;
}

.settingsblock, .settingsblock2 {
    border-top: #e7e4e4 1px solid;
}

.settingsblock p {
    text-indent: 0 !important;
}

.settingsblock p > i {
    font-size: 1rem;
    color: #e7e4e4;
}

div.settingsblock p:nth-child(1) {
    font-family: "Lato Semibold";
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-panel > h5 {
    font-family: "Lato Semibold";
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

label.sch {
    color: #979da4;
    line-height: 1.5rem;
    padding-left: 1.5rem;
}

.min500 {
    min-height: 500px !important;
}

.modal .modal-close {
    display: inline;
    margin: 0;
}

.gautocompleate{
    width: 200%;
}
.autocompleteItem{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.preview {
    height: 58px;
    width: 58px;
}
